*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    justify-content: space-evenly;
    /* align-items:center; */

}
.nav-logo {
    height:150px;
    width:130px;
}
.logo {
    background-image:url("amazon_logo.png");
    height:50px;
    width:100%;
    background-size:cover;
}
.border {
    border : 2px solid transparent;
}
.border:hover {
   border: 2px solid white; 
}

.add-first{
   color: #CCCCCC; 
   font-size:0.85rem;
   margin-left:15px;
}
.add-second{
    color:#FFFFFF;
    font-size:1rem;
    margin-left:3px;
}
.add-icon{
    display:flex;
    align-items:center;
}
.nav-search{
    align-items:center;
    height:40px;
    justify-content: space-evenly;
    display:flex;
    border-radius: 4px;
}

.search-select {
    background-color: #0F1111;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
}
.search-input{
    width:300px;
    font-size:1rem;
    border:none;
}
.search-icon {
    width:35px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top-right-radius : 4px;
    border-bottom-right-radius : 4px;
  
    /* for vertically center we will 
    * use align-items:center
    */
    /* and for horizontally center we use display:flex and justify-content:center */
}



/* box 4 */
span {
    font-size:0.7rem;
}
.nav-second{
    font-size : 0.85rem;
    font-weight: 700;
}

.nav-cart  {
    font-size:35px;
    width:29px;

}
.nav-cart {
    font-size: 0.85rem;
    font-weight:700;
}

/* panel */
.panel {
    height:40px;
    background-color:#222f3d;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops p {
    display:inline;
    margin-left:10px;

}

.panel-ops{
    width:70%;
    font-size:0.85rem;
}

.panel-deals {
    font-size : 0.9rem;
    font-weight:700;
}

.hero-section {
    background-image: url("hero_image.jpg");
     height:300px;
     background-size:cover;
     display : flex;
     justify-content: center;
     align-items: flex-end;
}

.hero-msg {
    background-color:white;
    color : black;
    height:48px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size : 0.85rem;
    width : 100%;
    margin-bottom:25px;
}

.hero-msg a{
    color: #007185;
}

/* shop section */

.shop-section{
    display:flex;
    justify-content: space-evenly;
    background-color:#e2e7e6; 
}

.box {
    height: 400px;
    width:23%;
    margin:4px;
    border: 2px solid black;
    background-color:white;
}

.box-img {
    height:300px;
}
.shop2-section{
    display:flex;
    justify-content: space-evenly;
    background-color:#e2e7e6; 
}

footer{
    margin-top:15px;
}
.foot-panel1 {

    background-color: #37475a;
    color : white;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size : 0.85rem;
}

.foot-panel2 {

    background-color: #222f3d;
    color:white;
    height:500px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 20px;
    color : #dddddd;
}